# 1 절대 경로
* 고유한 경로로 최상위 디렉토리가 포함된 경로

# 2 상대 경로
* 현재 위치한 곳을 기준으로 하는 경로
* /는 루트
* ./는 현재 위치
* ../는 현재 위치의 상위 폴더
* ../../는 두단계 위의 상위 폴더를 의미

In [1]:
#실습 파일 경로 확인
%pwd

'/Users/haesung/Documents/코칭스터디 부스트캠프'

In [2]:
import os
os.getcwd()

'/Users/haesung/Documents/코칭스터디 부스트캠프'

In [9]:
#유닉스 스타일의 경로명 패턴 확장
from glob import glob 
file_name = glob("data/*")[0] #data파일의 모든 파일을 가져오기 #[0]를 사용해서 문자열로 저장
file_name

'data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv'

In [3]:

import pandas as pd

In [5]:
#데이터 파일 불러오기 - 상대 경로
#UnicodeDecodeError : 인코딩 에러
pd.read_csv("data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv",encoding = "cp949")

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8682    98  2209   9440     759
1     1  야   5798    92  1539   6349     530
2     2  주   8056    95  2149   8710     710
3     2  야   5228    86  1419   5553     500
4     3  주  10393   109  2600  11132     880
5     3  야   5607    78  1449   5930     467
6     4  주  10460    93  2797  11356    1055
7     4  야   5876    89  1609   6181     551
8     5  주  11668   135  3132  12618    1178
9     5  야   5884    68  1576   6233     603
10    6  주  10962   114  2881  11797    1092
11    6  야   5754    88  1601   5893     613
12    7  주  10647   105  2755  11552    1138
13    7  야   5931   100  1554   6165     549
14    8  주  11185   136  2990  12252    1111
15    8  야   6027   110  1632   6287     641
16    9  주  11458   130  3063  12396    1119
17    9  야   6402   109  1777   6559     737
18   10  주  11039   141  3186  11609    1102
19   10  야   6294   124  1814   6383     559
20   11  주  11397   139  3143  12183    1081
21   11  야   6351   118  1706   6565     620
22   12  주  10540   107  2691  11407    1003
23   12  야   6657    87  1717   7019     643

## 3 여러 파일을 한번에 로드하는 방법

In [15]:
file_csv = glob("data/store/*_*_*.csv") #파일 규칙을 정해서 가져올 수 있음
file_csv #실제 파일이 아니라 이름만 가져온것임

['data/store/소상공인시장진흥공단_상가(상권)정보_부산_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_대구_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_세종_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_제주_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_대전_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_서울_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경기_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_울산_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_충북_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_충남_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_강원_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_광주_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_전북_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경북_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_인천_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경남_202403.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_전남_202403.csv']

In [11]:
#한글 파일의 경우 인코딩 방식의 차이가 있음

In [18]:
file_list = []
for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name)
    file_list.append(temp)

data/store/소상공인시장진흥공단_상가(상권)정보_부산_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_대구_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_세종_202403.csv
data/store/소상공인시장진흥공단_상가(상권)정보_제주_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_대전_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_서울_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_경기_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_울산_202403.csv
data/store/소상공인시장진흥공단_상가(상권)정보_충북_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)
/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_충남_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_강원_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_광주_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_전북_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_경북_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_인천_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_경남_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store/소상공인시장진흥공단_상가(상권)정보_전남_202403.csv

/var/folders/zv/8q9mx6qj2hqfytkj6_bjp56h0000gn/T/ipykernel_52879/4249112912.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

In [20]:
file_list[0]

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0072343,선해횟집,NaN,I2,음식,I201,한식,I20111,횟집,I56111,...,2641011100100300027023409,NaN,부산광역시 금정구 사천로3번길 2,609808,46264,NaN,1,NaN,129.113321,35.223363
1,MA010120220805430802,미즈노,NaN,G2,소매,G209,섬유·의복·신발 소매,G20905,기타 의류 소매업,G47419,...,2635010500114960000000001,롯데백화점센텀시티점,부산광역시 해운대구 센텀남대로 59,612022,48058,NaN,5,NaN,129.131099,35.169873
2,MA010120220805430814,리스트,NaN,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,...,2644010400134380000000001,스타필드시티명지점,부산광역시 강서구 명지국제6로 168,618200,46772,NaN,2,NaN,128.918174,35.093125
3,MA010120220805430900,눈썹그리기교실동안눈썹,NaN,S2,수리·개인,S207,이용·미용,S20702,피부 관리실,S96113,...,2632010200122720005015331,현호타워,부산광역시 북구 화명대로 31,616852,46525,NaN,NaN,NaN,129.011641,35.235217
4,MA010120220805430948,안심공인중개사무소,NaN,L1,부동산,L102,부동산 서비스,L10203,부동산 중개/대리업,L68221,...,2647010200103980025013248,NaN,부산광역시 연제구 연안로13번길 85,611817,47565,NaN,1,NaN,129.102386,35.188814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147290,MA0101202310A0049018,용공장,NaN,I2,음식,I201,한식,I20107,돼지고기 구이/찜,I56111,...,2671025022103440010000001,NaN,부산광역시 기장군 기장읍 차성로390번길 23,619901,46056,NaN,1,NaN,129.216824,35.252482
147291,MA0101202310A0052436,유미노래방,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,2641011000102020009017615,NaN,부산광역시 금정구 서동로176번길 14-2,609849,46327,NaN,2,NaN,129.105208,35.214009
147292,MA0101202310A0048331,큰집밀양순대돼지국밥,부산역점,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,2617010100103480002010381,NaN,부산광역시 동구 중앙대로231번길 5,601829,48815,NaN,1,NaN,129.040652,35.117817
147293,MA0101202310A0055762,바르미부산,서면점,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,2623010300105030015004104,롯데백화점부산본점,부산광역시 부산진구 가야대로 772,614732,47285,NaN,9,NaN,129.056438,35.156810
147294,MA0101202310A0083091,광안취향,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,2650010300101720003002474,NaN,부산광역시 수영구 민락로14번길 7,613828,48286,NaN,2,NaN,129.122755,35.156953

In [24]:
len(file_list)

17

In [21]:
df = pd.concat(file_list)#17개의 지역의 파일을 합침
df.shape

(2418939, 39)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2418939 entries, 0 to 93775
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      float64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(9), int64(8), object(22)
memory usage: 738.2+ MB